<% content_for :title, page_title("Editing - " + @link.title) %>

<div class="form-page">
  <div class="page-header">
    <div>
      <h1 class="page-title">Editing link</h1>
      <p class="page-subtitle">Update the link details.</p>
    </div>
  </div>

  <%= render "form", link: @link %>

  <div class="page-actions">
    <%= link_to "Show this link", @link, class: "btn btn--ghost" %>
    <%= link_to "Back to links", links_path, class: "btn btn--ghost" %>
  </div>
</div>
