<div class="post-content" id="<%= dom_id post %>">

  <h2 class="post-title"><%= post.title %></h2>

  <span class="tags">
    <% post.tags.each do |tag| %>
      <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
    <% end %>
  </span>

</div>
