.post {
    font-size: larger;
}

.post-title {
    color: #555;
}

.post-content {
    color: #555
}

.post-content a:link {
    color: red
}

.post-content a:visited {
    color: green
}

.post-content a:hover {
    color: hotpink;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 2px;
    margin: 2px;
 }
 
 .pagination {
    text-align: center;
    padding: 8px 16px;
}
  
.pagination a {
    color: black;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
}

span[class='page current'] {
    background-color: #333;
    color: white;
    padding: 8px 16px;

}
  


  .pagination a:hover:not(.active) {background-color: #ddd;}