name: Kamal Deploy

on:
  pull_request:
  push:
    branches: [ kamal-deploy ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Tailscale
      uses: tailscale/github-action@v4
      with:
        oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
        oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
        tags: tag:prodweb
